@use "../custom" as *;

.dance-styles {
    background-color: #e9c62c;
    margin-bottom: 80px;
    padding-bottom: 125px;
    
    .style-image-container {
        // position: relative;
        max-height: 242px;
        max-width: 100%;
        overflow: hidden;
        
        img {
            max-width: 100%;
            // max-height: 242px;
            // object-fit: contain;
            // overflow: hidden;
        }
    }
 
}


